.btn {
    border-radius: 1.875rem;
    border-width: 0;
    font-size: 0.9rem;
    letter-spacing: 0.04em;
    padding: 0.5rem 1.2rem;
    text-decoration: none;

    &:focus, &:active {
        box-shadow: none;
    }

    &:disabled,
    &.disabled,
    &:disabled:focus,
    &.disabled:focus,
    &:disabled:hover,
    &.disabled:hover,
    &:disabled:active,
    &.disabled:active {
        background-color: $brand-steel;
        box-shadow: none;
        color: $brand-white;
        cursor: not-allowed;
        // !important is required to override BS4 style when using link styled as disabled button
        pointer-events: all !important;
    }
}

.btn-sm {
    font-size: 0.7rem;
    padding: 0.5rem 0.7rem;
}

.btn-lg {
    font-size: 1rem;
    padding: 0.6rem 1.3rem;
}

.btn-primary {
    background-color: $brand-dark-blue;

    &:hover {
        background-color: $brand-navy-blue;
    }

    &:focus, &:active {
        background-color: $brand-dark-blue;
        box-shadow: 0 0 0.25rem $brand-box-shadow, 0 0 0.5rem $brand-box-shadow;
    }
}

.btn-secondary {
    background-color: $brand-white;
    box-shadow: inset 0 0 0 0.125rem $brand-dark-blue;
    color: $brand-dark-blue;

    &:hover {
        background-color: $brand-light-blue;
        box-shadow: inset 0 0 0 0.125rem $brand-dark-blue;
    }

    &:focus, &:active {
        background-color: $brand-white;
        box-shadow: 0 0 0.25rem 0.125rem $brand-box-shadow;
    }

    &:disabled,
    &.disabled,
    &:disabled:hover,
    &.disabled:hover {
        background-color: $brand-white;
        border: 1px solid $brand-silver;
        box-shadow: none;
        color: $brand-silver;
    }
}

.btn-warning {
    color: $brand-dark-blue;

    &:hover, &:focus {
        color: $brand-dark-blue;
    }
}

.btn-success, .btn-warning, .btn-danger {
    &:focus {
        box-shadow: 0 0 0.25rem 0.125rem $brand-box-shadow;
    }
}

.btn-outline-primary,
.btn-outline-success,
.btn-outline-danger,
.btn-outline-warning
{
    border-width: 1px;

    &:disabled,
    &.disabled,
    &:disabled:hover,
    &.disabled:hover {
        background-color: transparent;
        color: $brand-steel;
    }
}

.btn-outline-secondary {
    @extend .btn-secondary;
    border-width: 1px;
    box-shadow: inset 0 0 0 1px $brand-dark-blue;

    &:hover {
        box-shadow: inset 0 0 0 1px $brand-dark-blue;
    }

    &:disabled,
    &.disabled,
    &:disabled:hover,
    &.disabled:hover {
        background-color: transparent;
        color: $brand-silver;
    }
}

.btn-link {
    border-radius: 0;
    box-shadow: none;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    text-decoration: underline;

    &:focus, &:active {
        box-shadow: none;
    }

    &:disabled,
    &.disabled,
    &:disabled:hover,
    &.disabled:hover {
        background-color: inherit;
        color: inherit;
    }

    &.btn-sm {
        font-size: 0.875rem;
    }

    &.btn-lg {
        font-size: 1.25rem;
    }
}