.site-card {
    padding: 1rem;
    background: $brand-white;
    border: 1px solid $brand-fog;
    border-radius: 0.75rem;
    -webkit-box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.15);
    height: 100%;
    -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;

    .card-header {
        background-color: $brand-white;
        border-bottom: none;
        color: $brand-digital-red;
        font-size: 0.875rem;
        font-weight: 600;
        letter-spacing: 0.24em;
        line-height: 1.125;
        padding-bottom: .75rem;
        text-transform: uppercase;
    }

    .card-body {
        padding-top: 0;
    }

    .card-title {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .card-subtitle {
        color: $brand-steel;
        font-family: $font-family-sans-serif;
        font-size: 0.75rem;
        font-weight: normal;
        margin-bottom: 1rem;
    }

    .card-text {
        color: $brand-steel;
        font-size: 1rem;
    }
}


/*
 * Mobile styles
 */

@media (max-width: map-get($grid-breakpoints, "lg")) {
    .site-card {
        padding: 0.2rem;
    }
}