.spacer-xs {
    margin-bottom: 1rem;
}

.spacer-sm {
    margin-bottom: 2rem;
}

.spacer-md {
    margin-bottom: 4rem;
}

.spacer-lg {
    margin-bottom: 5.375rem;
}

.spacer-xl {
    margin-bottom: 8rem;
}