body {
    font-family: $font-family-sans-serif;
    line-height: 1.6em;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: $brand-dark-blue;
    letter-spacing: 0.02em;
    margin-bottom: 0.50em;
}

h1, .h1 {
    font-family: serif;
    font-weight: bold;
    font-size: 3.375rem;
}

h2, .h2 {
    font-family: serif;
    font-weight: 800;
    font-size: 2.625rem;
    letter-spacing: 0.01em;
}

h3, .h3 {
    font-family: serif;
    font-weight: bold;
    font-size: 2rem;
}

h4, .h4 {
    font-family: serif;
    font-weight: 600;
    font-size: 1.625rem;
}

h5, .h5 {
    font-family: serif;
    font-weight: 600;
    font-size: 1.5rem;
}

h6, .h6 {
    font-family: serif;
    font-weight: 600;
    font-size: 1.125rem;
}

ul > li:not(:last-child), ol > li:not(:last-child) {
    margin-bottom: 0.4em;
}

ul.list-condensed > li, ol.list-condensed > li {
    margin-bottom: 0;
}

ol > li::marker {
    font-weight: 700;
}


/*
 * Mobile styles
 */

@media (max-width: map-get($grid-breakpoints, "lg")) {
    h1, .h1 {
        font-size: 2.125rem;
    }
    h2, .h2 {
        font-size: 1.75rem;
    }
    h3, .h3 {
        font-size: 1.5rem;
    }
    h4, .h4 {
        font-size: 1.25rem;
    }
    h5, .h5 {
        font-size: 1.125rem;
    }
    h6, .h6 {
        font-size: 1rem;
    }
}